body {
    background: #181818;
}

aside {
    position: relative;
    float: left;
    background: #181818;
    width: 10%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1001;
}

aside img {
    width: 150%;
    display: block;
    margin: 0 auto;
}

aside .logo {
    font-size: 60px;
}

aside ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

aside ul li {
    width: 90px;
    height: 40px;
    margin: 8px;
    text-align: center;
    line-height: 47.5px;
    border: 2px solid #8B00FF;
    box-shadow: 0 0 5px #8B00FF;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s; /* Добавлена анимация */
}

aside ul li i {
    font-size: 40px;
    color: #8B00FF;
    transition: color 0.3s; /* Добавлена анимация */
}

aside ul li:hover {
    box-shadow: 0 0 10px #8B00FF;
    background-color: #8B00FF;
    color: #ffffff;
    border-radius: 8px;
}

aside ul li:hover i {
    color: #ffffff;
}

.notification-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #8B00FF;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 16px; /* Увеличенный размер текста */
    z-index: 1002; /* Убедитесь, что она находится поверх других элементов */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Плавная анимация */
    opacity: 0;
    visibility: hidden;
}

.notification-banner.visible {
    opacity: 1;
    visibility: visible;
}

.notification-banner ul {
    list-style-type: none;
    padding: 0;
    margin: 0px 0;
}

.notification-banner ul li {
    margin: 0px 0;
}

main {
    float: left;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    width: 85%;
}

@media (max-width: 768px) {
    main {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    aside {
        position: absolute;
        left: -100%;
        transition: left 0.3s ease;
    }

    aside.visible {
        left: 0;
    }
}